<div class="npc-portrait-container">
  <div class="npc-portrait-image">
    <img src="{{imageUrl}}" alt="{{npcName}}">
  </div>
  
  <div class="npc-portrait-content">
    <h2 class="npc-name">{{npcName}}</h2>
    <div class="npc-dialog-text">{{dialogText}}</div>
  </div>
  </div>