/*START - HELP DICE FEATURE*/
.vertical .common-assets-help{
	writing-mode: vertical-lr;
	text-orientation: upright;
}
/*END - HELP DICE FEATURE*/

/*START - CHAT MESSAGE SOCKET */
.socket-chat-event{
	display: none;
}
/*END - CHAT MESSAGE SOCKET */



/*START - FIX CALENDAR HUD */
.calendar-core
{
	height: 5vh;
}

/*END - FIX CALENDAR HUD */


/*START - COMPATIBILITY SMALL TIME AND CALENDAR HUD */

#smalltime-app
{
	display: none;
}

/*END - COMPATIBILITY SMALL TIME AND CALENDAR HUD */
